@model Bypass.Data.Interfaces.IArchiveModel
@using Bypass.Data.Types;
@using System.Net.Http;
@using System.Net.Http.Json;
@{
    Layout = "_Layout";
}
<div class="container archive">
<div class="header">
    <div class="row">
        <div>
    @Html.Label("DateFrom","C ")
    @Html.TextBox("DateFrom",Model.Filter.DateFrom,new {type="text"})
    @Html.Label("DateTo","по ")
    @Html.TextBox("DateTo",Model.Filter.DateTo,new {type="text"})
    @Html.Label("Fio","Сотрудник ")
    @Html.TextBox("Fio",Model.Filter.Fio)
    
    <button onclick="RazorFunction()" value="Обновить" class="abutton">Обновить</button>
        </div>
    </div>
</div>
<table class="table">
            <thead>
            <tr>
            <th style="width:10%">Дата создания</th>
            <th style="width:10%">Дата события</th>
            <th style="width:10%">Событие</th>
            <th style="width:20%">Сотрудник</th>
            <th style="width:25%">Подразделение/должность</th>
            <th style="width:25%">Примечание</th>
            </tr>
            </thead>
            <tbody></tbody>
   </table>
   <div id="console"></div>
</div>
<script type="text/javascript" src="./js/datatable.js"></script>
<script type="text/javascript">

    $("#DateFrom").datepicker({
  dateFormat: 'dd.mm.yy',
});
$("#DateTo").datepicker({
  dateFormat: 'dd.mm.yy',
});




function RazorFunction() {
    var vls = {
        DateFrom: $("#DateFrom").val(),
        DateTo: $("#DateTo").val(),
        Fio: $('#Fio').val()
    };
    var request = {
        url: "archivedata",
        method:"post",
        data: vls
    }

    $.ajax(request)
    .done(function(data) {
        document.atable = new ATable('.table', data)
        document.atable.drawData()
    });
}
</script>

<style>
    .archive thead{
        border-bottom: 2px solid #4857ff;
    }
    #DateFrom, #DateTo{
        width: 100px;
    }
    #Fio{
        width: 300px;
    }
</style>